// Dice in chat
.chat-dice {
    display: inline;
    position: relative;
    padding: 0;
    margin: 0;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 0.15rem;
        padding: 0 0.225rem 0 0.15rem;
        font-size: 0.75em;
        line-height: 1rem;
        width: 1em;
        text-align: center;
        color: white;
        background: transparent;
    }
    &:last-of-type,
    &:nth-child(6),
    &:nth-child(12),
    &:nth-child(18) {
        &:after {
            padding: 0 0.175rem 0 0.15rem;
        }
    }
    &.rerolled {
        > img {
            border-bottom: 0 none;
        }
        &:after {
            content: "\f2f9";
            background: orangered;
        }
    }

    &.swapped {
        > img {
            border-bottom: 0 none;
        }
        &:after {
            content: "\f337";
            background: fuchsia;
        }
    }

    > img {
        border: 1px solid transparent;
        height: auto;
        width: calc(100% / 6 - 0.255rem);
        margin: auto;
    }
}
td {
    .chat-dice {
    }
}

.chat-profil {
    text-align: center;
    vertical-align: middle;

    .profile-img {
        margin: 0.25rem 0.25rem 0 0;
    }

    &-stance {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin: 0.25rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    &-element {
        flex-wrap: wrap;
        flex-grow: 1;

        &-skill {
            flex-grow: 3;
        }
        &:last-child {
            flex-grow: 2;
        }
    }
}
