/* SCSS */

button {
    font-size: 0.75rem;
    cursor: url("../assets/cursors/pointer.webp"), pointer;
}

.pointer {
    cursor: url("../assets/cursors/pointer.webp"), pointer;
}

// System title was too long and merge version with module number
#game-details {
    .system {
        overflow: auto;
        border-bottom: 1px solid var(--color-border-light-highlight);
    }
}

// sidebar
#sidebar {
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    background-position: top;
    background-size: 100%;
    background: url("../assets/ui/bgSidebar.webp") no-repeat;
    border: 1px solid rgb(195, 165, 130);
    border-radius: 0;
    overflow: initial;
    height: calc(100% - 1.1rem);
    top: 0.2rem;
    width: 320px;
    min-width: 40px;
    letter-spacing: 0.1rem;
    position: relative;
    margin-right: 0.5rem;
    &:before {
        z-index: -1;
        content: "";
        position: absolute;
        height: calc(100% + 0.6rem);
        width: 100%;
        border: 1px solid rgb(195, 165, 130);
        border-radius: 0;
        top: -0.35rem;
        left: 0.25rem;
    }
    #sidebar-tabs {
        flex: 0 0 2rem;
        box-sizing: border-box;
        margin: 0 0 0.25rem;
        border-bottom: 1px solid rgba(195, 165, 130, 0.5);
        box-shadow: none;
        display: flex;
        i {
            flex: 1;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            border-radius: 100%;

            // v10 FA6+ color need to be set
            &.fa-swords,
            &.fa-user,
            &.fa-cards {
                color: black;
            }

            &.fa-comments {
                background-image: url("../assets/ui/sidebar/chat.svg");
                &:before {
                    content: "";
                }
            }
            &.fa-fist-raised {
                background-image: url("../assets/ui/sidebar/combat-tracker.svg");
                background-size: 85%;
                &:before {
                    content: "";
                }
            }
            &.fa-map {
                background-image: url("../assets/ui/sidebar/scenes.svg");
                background-size: 80%;
                &:before {
                    content: "";
                }
            }
            &.fa-users {
                background-image: url("../assets/ui/sidebar/actors.svg");
                background-size: 90%;
                &:before {
                    content: "";
                }
            }
            &.fa-suitcase {
                background-image: url("../assets/ui/sidebar/object.svg");
                &:before {
                    content: "";
                }
            }
            &.fa-book-open {
                background-image: url("../assets/ui/sidebar/journal.svg");
                &:before {
                    content: "";
                }
            }
            &.fa-th-list {
                background-image: url("../assets/ui/sidebar/rolltable.svg");
                background-size: 85%;
                &:before {
                    content: "";
                }
            }
            &.fa-id-badge {
                background-size: 85%;
                color: black;
                padding-left: 2px;
                &:before {
                    content: "\f2c1";
                }
            }
            &.fa-music {
                background-image: url("../assets/ui/sidebar/playlist.svg");
                background-size: 80%;
                &:before {
                    content: "";
                }
            }
            &.fa-atlas {
                background-image: url("../assets/ui/sidebar/compendium.svg");
                &:before {
                    content: "";
                }
            }
            &.fa-cogs {
                background-image: url("../assets/ui/sidebar/settings.svg");
                background-size: 85%;
                &:before {
                    content: "";
                }
            }
        }
        > .item {
            flex: 0 0 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            margin: 0.1rem;
            border-radius: 100%;
            background: $l5r5e-white;
            &.active,
            &:hover {
                background: $white;
                border: 1px solid $l5r5e-border-sidebar;
                box-shadow: 0 0 10px $red;
            }
        }
        .collapse {
            position: relative;
            flex: 0 0 0.85rem;
            line-height: 1.75rem;
            color: rgb(195, 165, 130);
            text-align: center;
            i {
                background-color: transparent;
            }
        }
    }
    &.collapsed {
        #sidebar-tabs {
            > .item {
                &.active {
                    border: 1px solid $l5r5e-border-sidebar;
                    box-shadow: 0 0 10px $l5r5e-white;
                    border-radius: 100%;
                }
            }
            .collapse {
                flex: 0 0 1.5rem;
                margin: 0.1rem;
            }
        }
    }
    .sidebar-tab {
        .chat-control-icon {
            cursor: url("../assets/cursors/pointer.webp"), pointer;
        }
        .action-buttons button {
            cursor: default;
            color: $white;
            background: linear-gradient(
                $l5r5e-linear-gradient-third,
                $l5r5e-linear-gradient-third-dark,
                $l5r5e-linear-gradient-third
            );
            background-origin: padding-box;
            border-image: url("../assets/ui/macro-button.webp") 10 repeat;
            border-image-width: 0.5rem;
            border-image-outset: 0px;
            &:hover {
                background: linear-gradient(
                    $l5r5e-linear-gradient-first-dark,
                    $l5r5e-linear-gradient-first,
                    $l5r5e-linear-gradient-first-dark
                );
            }
        }
    }
    // Settings
    #settings button {
        cursor: default;
        color: $white;
        background: linear-gradient(
            $l5r5e-linear-gradient-third,
            $l5r5e-linear-gradient-third-dark,
            $l5r5e-linear-gradient-third
        );
        background-origin: padding-box;
        border-image: url("../assets/ui/macro-button.webp") 10 repeat;
        border-image-width: 0.5rem;
        border-image-outset: 0px;
        &:hover {
            background: linear-gradient(
                $l5r5e-linear-gradient-first-dark,
                $l5r5e-linear-gradient-first,
                $l5r5e-linear-gradient-first-dark
            );
        }
    }

    // Chat
    #chat-form textarea {
        color: $black;
    }
    #chat-form textarea,
    .chat-message,
    .blind,
    .whisper,
    #chat-controls .roll-type-select,
    .header-search input {
        background: transparent url("../assets/ui/chat-texture.webp") repeat-y;
        &:focus {
            background: #f0f0e0 url("../assets/ui/chat-texture.webp") repeat-y;
        }
    }
    .header-search input[name="search"] {
        background-color: $l5r5e-chat-color;
        color: $l5r5e-black;
        &:focus {
            background-color: $l5r5e-chat-color-roll;
        }
    }

    // Chat-Message
    .chat-message {
        .message-header {
            line-height: 2rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 0.25rem;
            border-radius: 0;
        }
    }

    #chat-log {
        margin: 0 0 0.5rem;
        font-size: 1rem;
        .message.whisper,
        .message.blind,
        .message.roll {
            position: relative;
            .message-header {
                .message-metadata:before {
                    position: absolute;
                    top: -0.5rem;
                    right: 0.25rem;
                    font-size: 0.5rem;
                    color: $l5r5e-red;
                    height: 0;
                }
            }
        }
        .message.whisper {
            font-style: italic;
            .message-header {
                .message-metadata:before {
                    content: "(Private)";
                }
            }
            &.roll {
                .message-header {
                    .message-metadata:before {
                        content: "(Private Roll)";
                    }
                }
            }
        }
        .message.blind {
            font-style: italic;
            .message-header {
                .message-metadata:before {
                    content: "(Blind)";
                }
            }
            &.roll {
                .message-header {
                    .message-metadata:before {
                        content: "(Blind Roll)";
                    }
                }
            }
        }
        .message.roll {
            .message-header {
                .message-metadata:before {
                    content: "(Roll)";
                }
            }
        }
    }
    .message-sender {
        color: $l5r5e-red;
        text-shadow: 1px 1px 0px $l5r5e-black-light;
    }
    .message {
        background-color: $l5r5e-chat-color;
        color: $black-light;
        ul {
            li {
                padding: 0.25rem;
                border: 1px solid rgba(0, 0, 0, 0.05);
                border-bottom: 0 none;
                &:nth-child(odd) {
                    background: $l5r5e-odd;
                }
                &:nth-child(even) {
                    background: $l5r5e-even;
                }
                &:last-child {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                }
            }
        }
        &.roll {
            background-color: $l5r5e-chat-color-roll;
        }
        &.blind {
            background-color: $l5r5e-chat-color-blind;
        }
        &.whisper {
            background-color: $l5r5e-chat-color-whisper;
        }
    }
}

// hotbar
#hotbar {
    //margin: 0;
    #action-bar {
        //flex: 0 0 100%;
        .macro {
            background-position: center;
            background-size: 100%;
            background: linear-gradient(
                $l5r5e-linear-gradient-second,
                $l5r5e-linear-gradient-second-dark,
                $l5r5e-linear-gradient-second
            );
            background-origin: padding-box;
            border-image: url("../assets/ui/macro-button.webp");
            border-image-slice: 8 fill;
            border-image-width: 0.25rem;
            border-image-outset: 0;
            border-radius: 0;
            .macro-key {
                background: $l5r5e-black;
            }
            &.active {
                background: linear-gradient(
                    $l5r5e-linear-gradient-second-dark,
                    $l5r5e-linear-gradient-second,
                    $l5r5e-linear-gradient-second-dark
                );
                box-shadow: 1px 1px 10px $black inset;
                border: 1px solid rgba(195, 165, 130, 0.5);
            }
        }
        #macro-list {
            background: transparent;
            margin: 0;
            padding: 0.05rem;
            border-radius: 0;
            border: 0 none;
            box-shadow: 0.25rem 0.25rem 0.5rem $black-light;
        }
    }
    .bar-controls {
        background-position: center;
        background-size: 100%;
        background: linear-gradient(
            $l5r5e-linear-gradient-second,
            $l5r5e-linear-gradient-second-dark,
            $l5r5e-linear-gradient-second
        );
        background-origin: padding-box;
        border-image: url("../assets/ui/macro-button.webp") 15 repeat;
        border-image-width: 0.5rem;
        border-image-outset: 0px;
        box-shadow: 0 0 0.25rem $black-light;
        border-radius: 0;
        margin: 0 0.5rem;
        a.page-control,
        span.page-number {
            font-size: 1rem;
            line-height: 0.95rem;
        }
    }
}

// players
#players {
    border-radius: 0;
    background-position: center;
    background-size: 100%;
    background: linear-gradient(
        $l5r5e-linear-gradient-second,
        $l5r5e-linear-gradient-second-dark,
        $l5r5e-linear-gradient-second
    );
    background-origin: padding-box;
    border: 1px solid rgb(195, 165, 130);
    background-origin: padding-box;
    border-image: url("../assets/ui/macro-button.webp") 15 repeat;
    border-image-width: 0.5rem;
    border-image-outset: 0px;
    margin: 0;
    padding: 0;
    left: 0.2rem;
    bottom: 0.65rem;
    box-shadow: inset 0 0 0.5rem $black-light;
    position: relative;
    &:before {
        z-index: -1;
        position: absolute;
        content: "";
        background: transparent url("../assets/ui/players-border.webp") no-repeat 0 0;
        background-size: 100%;
        display: block;
        top: -12px;
        right: 10%;
        left: 10%;
        bottom: 0;
    }
}

// logo
#logo {
    content: url("../assets/l5r-logo.webp");
    height: 80px;
    width: 88px;
    margin-left: 0.5rem;
    opacity: 0.8;
}

// navigation
#navigation {
    left: 120px;
    //&:before {
    //    content: "";
    //    background: url("../assets/l5r-logo.webp") no-repeat 0 0;
    //    background-size: cover;
    //    height: 80px;
    //    width: 88px;
    //    opacity: 0.65;
    //    position: absolute;
    //    left: -12rem;
    //    &:hover {
    //        opacity: 0.75;
    //    }
    //}
    #nav-toggle,
    #scene-list .scene.nav-item {
        cursor: default;
        color: $white;
        background: linear-gradient(
            $l5r5e-linear-gradient-second,
            $l5r5e-linear-gradient-second-dark,
            $l5r5e-linear-gradient-second
        );
        background-origin: padding-box;
        border-image: url("../assets/ui/macro-button.webp") 10 repeat;
        border-image-width: 0.25rem;
        border-image-outset: 0px;
        &:hover {
            background: linear-gradient(
                $l5r5e-linear-gradient-first-dark,
                $l5r5e-linear-gradient-first,
                $l5r5e-linear-gradient-first-dark
            );
        }
    }
    #scene-list {
        .scene.nav-item.active {
            background: linear-gradient(
                $l5r5e-linear-gradient-first,
                $l5r5e-linear-gradient-first-dark,
                $l5r5e-linear-gradient-first
            );
            &:hover {
                background: linear-gradient(
                    $l5r5e-linear-gradient-first-dark,
                    $l5r5e-linear-gradient-first,
                    $l5r5e-linear-gradient-first-dark
                );
            }
        }
        .scene.view,
        .scene.context {
            cursor: default;
            color: #fff;
            background: linear-gradient(
                $l5r5e-linear-gradient-first,
                $l5r5e-linear-gradient-first-dark,
                $l5r5e-linear-gradient-first
            );
            background-origin: padding-box;
            border-image: url("../assets/ui/macro-button.webp") 10 repeat;
            border-image-width: 0.25rem;
            border-image-outset: 0px;
            box-shadow: 0 0 20px red;
            &:hover {
                background: linear-gradient(
                    $l5r5e-linear-gradient-first-dark,
                    $l5r5e-linear-gradient-first,
                    $l5r5e-linear-gradient-first-dark
                );
            }
        }
    }
}

// controls
#controls {
    top: 100px;
    ol {
        .scene-control.active,
        .control-tool.active,
        .scene-control:hover,
        .control-tool:hover {
            background: linear-gradient(
                $l5r5e-linear-gradient-first,
                $l5r5e-linear-gradient-first-dark,
                $l5r5e-linear-gradient-first
            );
            background-origin: padding-box;
            border-image: url("../assets/ui/macro-button.webp") 10 repeat;
            border-image-width: 0.25rem;
            border-image-outset: 0px;
            box-shadow: 0 0 10px $red;
            &:hover {
                background: linear-gradient(
                    $l5r5e-linear-gradient-first-dark,
                    $l5r5e-linear-gradient-first,
                    $l5r5e-linear-gradient-first-dark
                );
            }
        }
        .scene-control,
        .control-tool {
            color: $white;
            background: linear-gradient(
                $l5r5e-linear-gradient-second,
                $l5r5e-linear-gradient-second-dark,
                $l5r5e-linear-gradient-second
            );
            background-origin: padding-box;
            border-image: url("../assets/ui/macro-button.webp") 10 repeat;
            border-image-width: 0.25rem;
            border-image-outset: 0px;
            &:hover {
                background: linear-gradient(
                    $l5r5e-linear-gradient-first-dark,
                    $l5r5e-linear-gradient-first,
                    $l5r5e-linear-gradient-first-dark
                );
            }
        }
    }
}

// Playlist
#playlists {
    .playlist {
        .playlist-header {
            h4 {
                font: 0.75rem $font-primary;
                text-transform: uppercase;
                text-align: right;
            }
        }
    }
}

// Combat
#combat,
#combat-popout {
    .combat-tracker-header {
        .encounters {
            h3 {
                font-size: 0.85rem;
            }
            ul {
                display: flex;
                color: $l5r5e-white;
                &.encounter {
                    border-right: 1px solid $l5r5e-white-light;
                }
                li {
                    flex: 1;
                    cursor: url("../assets/cursors/pointer.webp"), pointer;
                }
            }
            .encounter {
                i {
                    font-size: 23px;
                    vertical-align: middle;
                    &:hover {
                        text-shadow: 0 0 8px $red;
                    }
                }

                .active {
                    color: $l5r5e-maho;
                    &:hover {
                        text-shadow: none;
                    }
                }

                &-icon {
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;

                    &-intrigue:before {
                        content: "\f21b";
                    }

                    &-duel:before {
                        content: "\f506";
                    }

                    &-skirmish:before {
                        content: "\f505";
                    }

                    &-mass_battle:before {
                        content: "\f447";
                    }
                }
            }
        }
    }
}

// Pause
#pause {
    img {
        content: url("../assets/icons/pause.svg");
    }
}

// Compendium
.compendium-list {
    .compendium-pack {
        .pack-title {
            margin: 0;
            line-height: 1rem;
        }
        .compendium-footer {
            text-align: right;
            margin-right: 2rem;
            font-size: 0.75rem;
            color: rgba(240, 240, 225, 0.75);
        }
    }
}

// global tooltip
.l5r5e-tooltip {
    cursor: url("../assets/cursors/pointer.webp"), pointer;

    .l5r5e-tooltip-ct,
    &.l5r5e-tooltip-ct {
        visibility: hidden;
        min-height: 200px;
        width: 600px;
        height: auto;
        max-height: 100%;
        background: #3e3a30 url("../assets/imgs/bg-l5r.webp") no-repeat;
        color: $black-light;
        font-size: 0.8rem;
        text-align: left;
        border: 0 none;
        border-radius: 0;
        padding: 0.5rem 0.75rem;
        display: block;
        position: absolute;
        z-index: 9999;
        * {
            color: $black-light;
        }
        section > ul {
            display: flex;
            flex-flow: row wrap;
            padding: 0.25rem 0 0.25rem 1rem;
            li {
                flex: 50%;
                padding: 0;
                padding-right: 1rem;
                margin: 0;
                list-style-type: square;
            }
        }
        &:before {
            z-index: -2;
            content: "";
            position: absolute;
            height: calc(100% + 0.6rem);
            width: calc(100% - 0.65rem);
            border: 1px solid #c3a582;
            border-radius: 0;
            top: -0.35rem;
            left: 0.25rem;
            background: #3e3a30 url("../assets/imgs/bg-l5r.webp") no-repeat;
        }
        &:after {
            z-index: -1;
            content: "";
            position: absolute;
            height: calc(100%);
            width: calc(100%);
            border: 1px solid #c3a582;
            border-radius: 0;
            top: -1px;
            left: -1px;
        }
        .goodvalue {
            color: #4e8c69;
        }
        .badvalue {
            color: #ab2a00;
        }
    }
    .card-header img {
        display: inline-block;
        background: transparent;
        border: 0 none;
        width: 20px;
        margin: 0;
        padding: 0;
    }
}

// Send to chat
.l5r5e-chat-item {
    color: $black-light;
    font-size: 0.8rem;

    * {
        color: $black-light;
    }
    h2 {
        font-size: 1.1rem;
    }
    section > ul {
        display: flex;
        flex-flow: row wrap;
        padding: 0.25rem 0 0.25rem 1rem;
        li {
            flex: 100%;
            padding: 1px !important;
            margin: 0;
            border: 0 none !important;
            list-style-type: square;
        }
    }
    .card-header img {
        display: inline-block;
        background: transparent;
        border: 0 none;
        width: 20px;
        margin: 0;
        padding: 0;
    }
}

#l5r5e-gm-monitor {
    min-height: 170px;
    min-width: 240px;

    .window-content {
        form {
            padding: 0 0.5rem;
        }
        thead tr > th {
            background: rgba(186, 187, 177, 0.9);
            position: sticky;
            z-index: 2;
            top: 0;
        }
        th,
        td {
            border: 1px solid #5a6e5a50;
            padding: 0.25em;
        }
        img {
            border: none;
            min-width: 24px;
            min-height: 24px;
            max-width: 32px;
            max-height: 32px;
        }
        .goodvalue {
            color: #4e8c69;
        }
        .badvalue {
            color: #ab2a00;
        }
    }
    // hide "search anywhere" draggable icon
    .window-draggable-handle {
        display: none;
    }
}

#l5r5e-gm-toolbox {
    //bottom: 0;
    //right: 0.5rem;
    display: flex;
    background-position: center;
    background-size: 100%;
    background: linear-gradient(
        $l5r5e-linear-gradient-second,
        $l5r5e-linear-gradient-second-dark,
        $l5r5e-linear-gradient-second
    );
    background-origin: padding-box;
    border: 1px solid rgb(195, 165, 130);
    background-origin: padding-box;
    border-image: url("../assets/ui/macro-button.webp") 10 repeat;
    border-image-width: 0.5rem;
    border-image-outset: 0px;
    padding: 0;
    margin: 0.5rem;
    .window-header {
        text-align: center;
        border-bottom: 1px solid rgb(195, 165, 130);
        h4 {
            letter-spacing: 0.25rem;
            line-height: 2.25rem;
            color: $white-light;
        }
    }
    .window-content {
        text-align: center;
        vertical-align: middle;
        background: transparent;
        color: $white-light;
        form {
            padding: 0;
        }
        .gm-tools-container {
            display: flex;
            font-size: 2rem;
            line-height: 2rem;
            min-height: 2rem;
            margin: 0;
            li {
                flex: 1;
                display: flex;
                margin: 0;
                padding: 0;
                border-right: 1px solid #c3a582;
                cursor: url("../assets/cursors/pointer.webp"), pointer;
                &:last-child {
                    margin: 0;
                    border: 0 none;
                }
                :hover {
                    text-shadow: 0 0 $red;
                }
            }
            .difficulty_hidden {
                .fa {
                    width: 3rem;
                }
                .difficulty {
                    flex: 1rem;
                    width: 2rem;
                    font-size: 2rem;
                    text-align: center;
                    margin: 0;
                    padding: 0.5rem;
                }
            }
            .fa {
                padding: 0.5rem;
            }
            .fa-bed,
            .fa-star-half-alt,
            .fa-table,
            .fa-podcast {
                width: 100%;
                padding: 0.5rem;
            }
        }
    }
    // hide "search anywhere" draggable icon
    .window-draggable-handle {
        display: none;
    }
}

.autocomplete-wrapper {
    position: relative;
    display: inline-block;

    .autocomplete-list {
        position: absolute;
        border: 1px solid #6e7e6b;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-list div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #6e7e6b;
        text-align: left;
    }
    .autocomplete-list div:hover {
        background-color: #e9e9e9;
    }
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
}
