<div class="techniques-wrapper">
    {{!-- technique types --}}
    <div class="checklist">
        <i>{{localize 'l5r5e.techniques.type'}}</i>
        {{#each data.techniquesList as |technique|}}
            <label>
                <input type="checkbox" name="system.techniques.{{technique.id}}" {{checked (lookup ../data.system.techniques technique.id)}} {{^if ../data.editable_not_soft_locked}}disabled{{/if}} />
                {{technique.label}}
            </label>
        {{/each}}
    </div>
    {{!-- technique list --}}
    {{#each data.splitTechniquesList as |list technique|}}
        <fieldset class="section-header flexrow">
            <legend class="technique-controls">
                <span class="technique-controls toggle-on-click" data-toggle="toggle-technique-category-{{technique}}">
                    {{localize (localize 'l5r5e.techniques.{technique}' technique=technique)}}
                </span>
                {{#ifCond ../data.editable_not_soft_locked '&&' (lookup ../data.system.techniques technique)}}
                    <a data-item-type="technique" class="technique-control item-add" data-tech-type="{{technique}}" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
                {{/ifCond}}
            </legend>
            <ul class="item-list toggle-technique-category-{{technique}} {{#ifCond ../data.storeInfos 'includes' (concat 'toggle-technique-category-' technique)}}toggle-hidden{{/ifCond}}">
                {{#each list as |item id|}}
                    {{> 'systems/l5r5e/templates/items/technique/technique-entry.html' technique=item editable=../../data.editable_not_soft_locked}}
                {{/each}}
            </ul>
        </fieldset>
    {{/each}}
    {{!-- signature scroll list --}}
    <fieldset class="section-header flexrow">
        <legend class="text-block-header">
            {{localize 'l5r5e.advancements.signature_scroll' }}
            {{#if data.editable_not_soft_locked}}
                <a data-item-type="signature_scroll" class="signature-scroll-control item-add" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </legend>
        <ul class="item-list">
            {{#each actor.items as |scroll id|}}
                {{#ifCond scroll.type '==' 'signature_scroll'}}
                    {{> 'systems/l5r5e/templates/items/signature-scroll/signature-scroll-entry.html' scroll=scroll id=id editable=../data.editable_not_soft_locked}}
                {{/ifCond}}
            {{/each}}
        </ul>
    </fieldset>
</div>