<form class="l5r5e character-generator-dialog" autocomplete="off">
    <div class="content">
        <div class="form-group">
            <label>{{localize 'l5r5e.clans.label'}}</label>
            <div class="form-fields">
                <select class="attribute-dtype" name="clan">
                    {{#select data.clan}}
                    {{#each clanList as |value|}}
                        <option value="{{value.id}}">{{value.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize 'l5r5e.social.gender.title'}}</label>
            <div class="form-fields">
                <select class="attribute-dtype" name="gender">
                    {{#select data.gender}}
                    {{#each genderList as |value|}}
                        <option value="{{value.id}}">{{value.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize 'l5r5e.char_generator.average_value'}}</label>
            <div class="form-fields">
                <input type="range" name="avgRings" data-dtype="Number" value="{{data.avgRings}}" min="1" max="5" step="1">
                <span class="range-value">{{data.avgRings}}</span>
            </div>
        </div>

        <h2 class="separator">{{localize 'l5r5e.char_generator.generate'}}</h2>
        <div class="form-group smaller">
            <label>{{localize 'l5r5e.sheets.name'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="generate.name" data-dtype="Boolean" {{checked data.generate.name}} />
            </div>
        </div>
        <div class="form-group smaller">
            <label>{{localize 'l5r5e.char_generator.identity'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="generate.identity" data-dtype="Boolean" {{checked data.generate.identity}} />
            </div>
        </div>
        <div class="form-group smaller">
            <label>{{localize 'l5r5e.char_generator.attributes'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="generate.attributes" data-dtype="Boolean" {{checked data.generate.attributes}} />
            </div>
        </div>
        {{#if isNpc}}
        <div class="form-group smaller">
            <label>{{localize 'l5r5e.char_generator.demeanor'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="generate.demeanor" data-dtype="Boolean" {{checked data.generate.demeanor}} />
            </div>
        </div>
        {{/if}}
        <div class="form-group smaller">
            <label>{{localize 'l5r5e.char_generator.peculiarities'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="generate.peculiarities" data-dtype="Boolean" {{checked data.generate.peculiarities}} />
            </div>
        </div>
        <div class="form-group smaller">
            <label>{{localize 'l5r5e.char_generator.items'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="generate.items" data-dtype="Boolean" {{checked data.generate.items}} />
            </div>
        </div>
        <div class="form-group smaller">
            <label>{{localize 'l5r5e.techniques.title'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="generate.techniques" data-dtype="Boolean" {{checked data.generate.techniques}} />
            </div>
        </div>
        {{!--
        <div class="form-group smaller">
            <label>{{localize 'l5r5e.char_generator.narrative'}}</label>
            <div class="form-fields">
                <input type="checkbox" name="generate.narrative" data-dtype="Boolean" {{checked data.generate.narrative}} />
            </div>
        </div>
        --}}

        <div class="form-group footer">
            <button name="generate" id="generate" type="submit">
                {{localize 'l5r5e.char_generator.generate'}} <i class='fas fa-arrow-circle-right'></i>
            </button>
        </div>
    </div>
</form>